# Auto detect text files and perform LF normalization
* text=auto
Assets/Package/Fantasy_Elephant/Textures/Fantasy_Elephant/Fantasy_Elephant_Albedo_01 filter=lfs diff=lfs merge=lfs -text
Assets/Package/Fantasy_Elephant/Textures/Fantasy_Elephant/Fantasy_Elephant_Albedo_01.tga filter=lfs diff=lfs merge=lfs -text
Assets/Package/Fantasy_Elephant/Textures/Fantasy_Elephant/Fantasy_Elephant_Albedo_02.tga filter=lfs diff=lfs merge=lfs -text
Assets/Package/Fantasy_Elephant/Textures/Fantasy_Elephant/Fantasy_Elephant_Albedo_03.tga filter=lfs diff=lfs merge=lfs -text
Assets/Package/Fantasy_Elephant/Textures/Fantasy_Elephant/Fantasy_Elephant_Metallic.tga filter=lfs diff=lfs merge=lfs -text
Assets/Package/Fantasy_Elephant/Textures/Fantasy_Elephant/Fantasy_Elephant_Normals.tga filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
