# Auto detect text files and perform LF normalization
* text=auto
*.png filter=lfs diff=lfs merge=lfs -text
Assets/Textures/Sandtexture/Sand3/Rocks012_8K-PNG_NormalGL.png filter=lfs diff=lfs merge=lfs -text
C:/Duantotnghiep/DATN/DATN(Night[[:space:]]Reign)/Assets/Textures/Sandtexture/Sand3/Rocks012_8K-PNG_NormalGL.png filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
