<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AFSGoogle.Apis.Util.Store" version="2.0.0" manuallyInstalled="true" />
  <package id="Google.Apis" version="1.70.0" />
  <package id="Google.Apis.Auth" version="1.70.0" manuallyInstalled="true" />
  <package id="Google.Apis.Core" version="1.70.0" />
  <package id="Google.Apis.Drive.v3" version="1.69.0.3783" manuallyInstalled="true" />
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="9.0.5" />
  <package id="Microsoft.AspNetCore.Http.Connections.Client" version="9.0.5" />
  <package id="Microsoft.AspNetCore.Http.Connections.Common" version="9.0.5" />
  <package id="Microsoft.AspNetCore.SignalR.Client" version="9.0.5" manuallyInstalled="true" />
  <package id="Microsoft.AspNetCore.SignalR.Client.Core" version="9.0.5" />
  <package id="Microsoft.AspNetCore.SignalR.Common" version="9.0.5" />
  <package id="Microsoft.AspNetCore.SignalR.Protocols.Json" version="9.0.5" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.5" />
  <package id="Microsoft.Bcl.TimeProvider" version="9.0.5" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.5" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.5" />
  <package id="Microsoft.Extensions.Features" version="9.0.5" />
  <package id="Microsoft.Extensions.Logging" version="9.0.5" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.5" />
  <package id="Microsoft.Extensions.Options" version="9.0.5" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.5" />
  <package id="System.CodeDom" version="7.0.0" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.5" />
  <package id="System.IO.Pipelines" version="9.0.5" />
  <package id="System.Management" version="7.0.2" />
  <package id="System.Net.ServerSentEvents" version="9.0.5" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="9.0.5" />
  <package id="System.Text.Json" version="9.0.5" />
  <package id="System.Threading.Channels" version="9.0.5" />
</packages>